body{
    text-align: center;
    background-color: BLACK;
    user-select: none;
    white-space: nowrap;
}

#heading{
    display: block;
    margin: 2em;
}

h1{
    font-family: 'Lilita One';
    font-size: 3em;
    color: gold;
    display: inline-block;
    margin: 0;
}

#logo{
    display: inline-block;
    margin-right: 0.5em;
}

#picture{
    margin: 1em;
    width: 50%;
    max-height: 50%;
}

#interface{
    margin: auto;
    width: 25%;
}

.info {
    display:block;
    margin: auto;
    margin-block: 1em;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#timer{background-color: DarkBlue;}
#distance{background-color: Darkgreen;}
#coordo{background-color: Darkred;}