body{
    justify-content: center;
    text-align: center;
    background-color: BLACK;
    user-select: none;
    white-space: nowrap;
    height: max-content;
	margin: 0;
	padding: 0;
}

#heading{
    display: block;
    margin: 1em;
}

h1{
    font-family: 'Lilita One';
    font-size: 3em;
    color: gold;
    display: inline-block;
    margin: 0;
}

#logo{
    display: inline-block;
    width: 15%
}

#instruc{
    font-family: 'Lilita One';
    font-size: 1em;
    color: gold;
    display: block;
    margin: 0;
}

#picture{
    width: 95%;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#interface{
    margin: 0 auto;
}

.info {
    display:block;
    margin: 0 auto;
    margin-block: 1em;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#timer{background-color: DarkBlue;}
#distance{background-color: Darkgreen;}
#coordo{background-color: Darkred;}

#footer {
    word-wrap: break-word;
    width: 100%;
    bottom: 0;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3em;
    background-color: rgba(100,100,100,0.7);
}

#credits{
    padding: 0 10px;
    display: grid;
    font-size: 0.65em;
    word-wrap: break-word;
}
