body{
    text-align: center;
    background-color: BLACK;
    user-select: none;
    white-space: nowrap;
}

#heading{
    display: block;
    margin: 2em;
}

h1{
    font-family: 'Lilita One';
    font-size: 3em;
    color: gold;
    display: inline-block;
    margin: 0;
}

#logo{
    display: inline-block;
    margin-right: 0.5em;
}

#picture{
    margin: 1em;
    width: 50%;
}

#interface{
    margin: auto;
    width: 25%;
}

.info{
    display: block;
    padding: 0.5em;
    font-size: 1.5rem;
    margin-top: 1.5em;
    color: #ffff;
    border-radius: 10px;
}

#timer{background-color: DarkBlue;}
#distance{background-color: Darkgreen;}
#coordo{background-color: Darkred;}


